/*ESTILOS FOOTER*/
#footer {
    width: 100%;
    height: auto;
    margin-top: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*FOOTER LOGO*/
.footer__logo-pictureimg {
    width: 150px;
}

/*FOOTER LINKS*/
.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__links-ul {
    padding: 0;
}

.footer__links-copyright h3 {
    font-size: medium;
}
.footer__links-copyright h4 {
    font-size: small;
}

/*FOOTER REDES*/
.footer__redes .fa-brands {
    margin-left: 15px;
    font-size: 26px;
}