/*FORM CONTACTO*/
#form {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;
}

.form__mapa {
    width: 50%;
}

.form__contacto {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 100px;
    gap: 30px;
}

.form__contacto-contcheck {
    display: flex;
    justify-content: space-around;

}

.form__contacto-check1 , .form__contacto-check2 {
    display: flex;
    flex-direction: column;
}

.form__contacto-talles {
    display: flex;
    flex-direction: column;
}

.form__contacto-textarea {
    resize: none;
}

.form__contacto-buttons {
    display: flex;
    justify-content: space-around;
}