/*ESTILOS IMÁGENES*/
.grid__productos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);

    grid-template-areas: 
    "ps5-a ps5-b ps5-b ps5-c"
    "ps5-d ps5-d ps5-e ps5-e"
    "ps5-f ps5-g ps5-h ps5-i"
    ;
    gap: 30px;
}

.grid__productos img {
    width: 100%;
    height: 100%;
}

.img1 {
    grid-area: ps5-a;
}
.img2 {
    grid-area: ps5-b;
}
.img3 {
    grid-area: ps5-c;
}
.img4 {
    grid-area: ps5-d;
}
.img5 {
    grid-area: ps5-e;
}
.img6 {
    grid-area: ps5-f;
}
.img7 {
    grid-area: ps5-g;
}
.img8 {
    grid-area: ps5-h;
}
.img9 {
    grid-area: ps5-i;
}