/*ESTILOS CONTENIDO*/
/*////////////////////////////////////////////////////*/
.main__banner {
    width: 100%;
    height: 50vh;
    margin-top: 80px;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.main__banner-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.288);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__banner-picture img {
    width: 200px;
}

/*SECCIÓN INICIO 1*/

.inicio__contenido1-h1 , .inicio__contenido1-h2 {
    text-align: center;
}

/*SECCIÓN INICIO 2*/
.inicio__contenido2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inicio__contenido2-iframe {
    width: 800px;
    height: 300px;
}